<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="sidebar">

    <aside class="sidebar">

        <div class="sidebar-brand">
            <h2>
                <i class="fa-solid fa-mug-hot"></i>
                T&C Admin
            </h2>
        </div>

        <ul class="sidebar-menu">

            <li>
                <a th:href="@{/admin-dashboard}"
                   th:classappend="${activeMenu == 'dashboard'} ? 'active'">

                    <i class="fa-solid fa-chart-pie"></i>
                    Dashboard
                </a>
            </li>

            <li>
                <a th:href="@{/admin/products}"
                   th:classappend="${activeMenu == 'products'} ? 'active'">

                    <i class="fa-solid fa-coffee"></i>
                    Sản phẩm
                </a>
            </li>
            <li>
                <a th:href="@{/admin/users}"
                   th:classappend="${activeMenu == 'users'} ? 'active'">

                    <i class="fa-solid fa-users"></i>
                    Người dùng

                </a>
            </li>
        </ul>

    </aside>

</div>

</body>
</html>